/* Navigation Bar */
#main-nav {
    background-color: lightblue;
    margin: 10px;
    text-align: center;
}

#main-nav li {
    display: inline-block;
    padding: 10px 50px;
}

#main-nav li a {
    color: black;
    text-decoration: none;
}

#main-nav li:hover {
    background-color: white;
    padding: 10px 50px;
}
